<body>
  <div class="header" style="display:flex; text-align:center;float:right;">
    <h2>Welcome: {{user}}</h2>
    <div style="margin:30px 20px;">
        <a href="/logout">Logout </a>
    </div>
  </div>

  <div style='margin-top:50px;padding:50px;'>
    <h3>Post your text here: </h3>
    <form method="post">
      <textarea name='post' id='post' placeholder="start here" style="min-height:500px;min-width:500px;"></textarea><br/>
      <input type="submit" value='Post' style="padding:10px;" />

    </form>
  </div>


</body>
