
  <body>
    <h1>Please register your account here</h1>

    <Form method='POST'>
      <input type="text" name="name" id='name' placeholder="Enter your name"><br>
      <input type="text" name="password" id='password' placeholder="Enter your password"><br>
      <input type="submit" name="submit" value="Login">
    </Form>
  </body>
